<!--
  Author:    Daniel Pak
  Partner:   Kyungyoon Kim
  Date:      August 28th, 2020
  Course:    CS 4540, University of Utah, School of Computing
  Copyright: CS 4540, Kyungyoon Kim and Daniel Pak - This work may not be copied for use in Academic Coursework.

  We, Kyungyoon Kim and Daniel Pak, certify that I wrote this code from scratch and did not copy it in part or whole from
  another source.  Any references used in the completion of the assignment are cited in my README file.

  File Contents

     Application
-->

@{
    ViewData["Title"] = "Student Application";
}
<h1>@ViewData["Title"]</h1>
<br />

<div class="container">
    <form>
        <div class="form-row">
            <div class="col-md-4 mb-3">
                <label for="userFirstName">First name</label>
                <input type="text" class="form-control" id="userFirstName" placeholder="First name" required>
            </div>
            <div class="col-md-4 mb-3">
                <label for="userLastName">Last name</label>
                <input type="text" class="form-control" id="userLastName" placeholder="Last name" required>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-4 mb-3">
                <label for="userName">User Name</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroupPrepend2"></span>
                    </div>
                    <input type="text" class="form-control" id="userName" placeholder="Username" aria-describedby="inputGroupPrepend2" required>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-4 mb-3">
                <label for="userEmail">Email address</label>
                <input type="email" class="form-control" id="userEmail" aria-describedby="emailHelp" placeholder="Enter email">
            </div>
            <div class="col-md-4 mb-3">
                <label for="userPhone">Home Phone</label>
                <input type="email" class="form-control" id="userPhone" aria-describedby="emailHelp" placeholder="Enter Home Phone">
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-4 mb-3">
                <label for="userPassword">Password</label>
                <input type="password" id="userPassword" class="form-control" aria-describedby="passwordHelpBlock" placeholder="Enter password">
                <small id="passwordHelpBlock" class="form-text text-muted">
                    must not contain spaces, special characters, or emoji.
                </small>
            </div>

            <div class="col-md-4 mb-3">
                <label for="userPasswordConfirm">Confirm your Password</label>
                <input type="password" id="userPasswordConfirm" class="form-control" aria-describedby="passwordHelpBlock" placeholder="Confirm your password">
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-6 mb-3">
                <label for="userAddress">Address</label>
                <input type="text" class="form-control" id="userAddress" placeholder="Address" required>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-3 mb-3">
                <label for="userCity">City</label>
                <input type="text" class="form-control" id="userCity" placeholder="City" required>
            </div>
            <div class="col-md-3 mb-3">
                <label for="userState">State</label>
                <input type="text" class="form-control" id="userState" placeholder="State" required>
            </div>
            <div class="col-md-3 mb-3">
                <label for="userZip">Zip</label>
                <input type="text" class="form-control" id="userZip" placeholder="Zip" required>
            </div>
        </div>

        <div class="form-row">
            <div class="col-md-3 mb-3">
                <label for="userIntro">Briefly Introduce yourself</label>
                <textarea class="form-control" input type="text" style="width:200%" id="userIntro" rows="3"></textarea>
            </div>
        </div>
        <div class="form-row">
            <div class="col-6">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Upload</span>
                    </div>
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="userResume">
                        <label class="custom-file-label" for="userResume">Choose your Resume</label>
                    </div>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="userAgreementCheck" required>
                    <label class="form-check-label" for="agreementCheck">
                        Agree to terms and conditions
                    </label>
                </div>
            </div>

            <div class="col-md-3 mb-3">
            </div>

            <div class="col-md-3 mb-3">
                <br />
                <br />
                <br />
                <button class="btn btn-primary" id="btn_submitApplication" type="submit">Submit Application</button>
            </div>
        </div>
</form>
</div>